{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">

    {% if (user.provider) %}

    <strong>Olá, {{ user.name }}</strong>
    <p class="msg" style="{% if (appointments.length == 0) %}display:none;{% endif %}">Sua lista de clientes agendados:</p>

    {% else %}

    <strong>Agendamentos</strong>
    <p class="msg" style="{% if (appointments.length == 0) %}display:none;{% endif %}">Sua lista de horários agendados:</p>

    {% endif %}

    <div class="appointments">

    <p id="msg_nenhum_agendamento" style="{% if (appointments.length > 0) %}display:none;{% endif %}">
      Você não possui nenhum {% if (user.provider) %}cliente agendado{% else %}agendamento{% endif %}
    </p>

    {% for appointment in appointments %}
    <div class="appointment">
      <div>
        <img src="/files/{% if (user.provider) %}{{ appointment.user.avatar }}{% else %}{{ appointment.provider.avatar }}{% endif %}">
        <div class="info">
          <strong>{{ appointment.date | date("DD/MM/YYYY") }} às {{ appointment.date | date("HH:mm") }}</strong>
          <p>{% if (user.provider) %}{{ appointment.user.name }}{% else %}{{ appointment.provider.name }}{% endif %}</p>
        </div>
      </div>

      {% if not (user.provider) %}
      <button class="remove-appointment" data-id="{{ appointment.id }}">-</button>
      {% endif %}

    </div>
    {% endfor %}

    </div>

    <div class="buttons-wrapper">
      {% if (user.provider) %}
      <a href="/app/logout" class="logout">Sair</a>
      {% else %}
      <a href="/app/dashboard" class="back">Voltar</a>
      {% endif %}
    </div>

  </div>

  <script>
    function handleDeleteAppointment() {
      document.querySelector('.appointments').addEventListener('click', function(event) {

        if (event.target.className == "remove-appointment") {
          var id = event.target.getAttribute('data-id');

          fetch(`/app/appointments/${id}`, {
            method: 'DELETE'
          })
          .then(function(response) {
            return response.json();
          })
          .then(function(result) {

            if (result.status) {
              event.target.parentNode.remove()

              if (document.querySelectorAll('.appointment').length == 0) {
                document.querySelector('#msg').style = "";
                document.querySelector('#msg_nenhum_agendamento').style = "";
              }
            }

          })

        }

      })

    }

    document.addEventListener('DOMContentLoaded', handleDeleteAppointment);
  </script>

{% endblock %}
