{% extends "_layouts/default.njk" %}

{% block body %}
<div class="content">
  <strong>Olá, {{ user.name }}</strong>

  {% if providers.length > 0 %}
  <p>Inicie um agendamento escolhendo um profissional abaixo:</p>

  <ul class="providers">
    {% for provider in providers %}
    <li class="provider">
      <div>
        <img src="/files/{{ provider.avatar }}">
        <strong>{{ provider.name }}</strong>
      </div>
      <a class="add-appointment" href="/app/appointments/new/{{ provider.id }}">+</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No momento não existem profissionais cadastrados para realizar agendamentos.</p>
  {% endif %}

  <div class="buttons-wrapper">
    <a href="/app/schedule" class="schedule">Agendamentos</a>
    <a href="/app/logout" class="logout">Sair</a>
  </div>

</div>
{% endblock %}
